- content_for :sidebar do
  %a#imprint
  %p
    %h4= 'Impressum'
    %p
      Sören Mothes
      %br
      Wilthener Straße 2
      %br
      01324 Dresden
      %br
      = mail_to MAIL, MAIL, :encode => :hex
  %hr


%h3= t('app_name') + " - " + t('help')
%p
  Die Regeln sind recht einfach erklärt:
  %br
    Jeder der sich angemeldet hat, kann mittippen.
    Der Tipp für ein Spiel kann bis zum Anpfiff des Spieles abgegeben werden.
  %br
  %b
    Pro Spiel gibt es maximal #{UpdateTippsPoints::MAX_POINTS_PRO_TIPP} Punkte:

%ul.hilfe
  %li
    Für den richtigen Tipp auf Sieg, Unentschieden oder Niederlage gibt es
    #{UpdateTippsPoints::POINTS_CORRECT_TREND}
    Punkte (Spieltendenz).
  %li
    Je
    #{UpdateTippsPoints::EXTRA_POINT_GOALS}
    weitere Punkte gibt es bei Übereinstimmung der getippten und der tatsächlich erzielten Tore
    einer Mannschaft. Allerdings gibt es diese Punkte
    %b
      nur, wenn auch die Spieltendenz stimmt.
  %li
    Den letzten Extrapunkt gibt es bei richtiger Tordifferenz.

%p
  %b
    Achtung: Es gilt immer das offiziell festgelegte Endergebnis inkl. Verlängerung und Elfmeterschießen.

%p
  %b
    Mögliche Punkte pro Tipp
%ul.hilfe
  %li
    0 Punkte: alles falsch
  %li
    #{UpdateTippsPoints::POINTS_CORRECT_TREND} Punkte: Spieltendenz richtig, aber nicht Tordifferenz oder eine Toranzahl der beiden Teams
  %li
    #{UpdateTippsPoints::POINTS_CORRECT_TREND + UpdateTippsPoints::EXTRA_POINT} Punkte: Spieltendenz richtig und die Tordifferenz
  %li
    #{UpdateTippsPoints::POINTS_CORRECT_TREND + UpdateTippsPoints::EXTRA_POINT_GOALS} Punkte: Spieltendenz richtig und eine Toranzahl eines Teams
  %li
    #{UpdateTippsPoints::MAX_POINTS_PRO_TIPP} Punkte: Spieltendenz richtig und bei beiden Teams die korrekte Toranzahl, dadurch auch die Tordifferenz richtig

%p
  Bei Punktgleichheit im Ranking wird die Platzierung über die Anzahl der erreichten Tipppunkte entschieden.
  %br
  Wer mehr "#{UpdateTippsPoints::MAX_POINTS_PRO_TIPP} Punktetipps" hat liegt bei Punktgleichheit vorn.
  Wenn auch die "#{UpdateTippsPoints::MAX_POINTS_PRO_TIPP} Punktetipps" gleich sind entscheiden
  die "#{UpdateTippsPoints::POINTS_CORRECT_TREND + UpdateTippsPoints::EXTRA_POINT_GOALS} Punktetipps".
  Liegt auch hier Gleichheit vor dann die "#{UpdateTippsPoints::POINTS_CORRECT_TREND  + UpdateTippsPoints::EXTRA_POINT} Punktetipps" usw.

%p
  %b
    Beispiele:
%ul.hilfe
  %li
    Frankreich - Schweiz spielt 3:0 und Du hast 3:1 getippt.
    Dann bekommst Du insgesamt #{UpdateTippsPoints::POINTS_CORRECT_TREND + UpdateTippsPoints::EXTRA_POINT_GOALS} Punkte auf das Spiel.
    #{UpdateTippsPoints::POINTS_CORRECT_TREND} da Du die Spieltendenz richtig hast
    und #{UpdateTippsPoints::EXTRA_POINT_GOALS} für die richtige Anzahl der französischen Tore.
  %li
    Deutschland - Italien spielt 1:0 und Du hast 2:1 getippt.
    Dann bekommst Du insgesamt #{UpdateTippsPoints::POINTS_CORRECT_TREND + UpdateTippsPoints::EXTRA_POINT} Punkte auf das Spiel.
    #{UpdateTippsPoints::POINTS_CORRECT_TREND} da Du die Spieltendenz richtig hast
    und #{UpdateTippsPoints::EXTRA_POINT} für die richtige Tordifferenz.
%p
  %span.label.label-important
    Wichtig
  %br
  %b
    Tuniersieger-Tipp:
%p
  Bei richtigem Tipp auf den Tuniersieger gibt es #{UpdateUserPoints::CHAMPION_TIPP_POINTS} Zusatzpunkte.
  Du kannst Dir die Zusatzpunkte nur vor dem Tunierstart sichern!

%p
  %b
    Es gibt #{Game::ROUNDS.size} Runden:

- write_round_infos

%p
  Dem Gewinner winkt ein schöner Tippspiel-Wanderpokal, der nach 3 Siegen behalten werden kann.
  %br
  %br
  In diesem Sinne viel Spaß beim Tippen!
  %br
  Sören "Harry" Mothes


%h3= 'Haftungsausschluss'
%h4
  1. Inhalt des Onlineangebotes
%p
  Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
  Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen,
  die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
  unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen,
  sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
  Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor,
  Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen,
  zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
%h4
  2. Verweise und Links
%p
  Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"),
  die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich
  in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und
  zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erklärt hiermit ausdrücklich,
  dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren.
  Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten
  hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten
  aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden.
  Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für
  Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale,
  fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
  solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde,
  nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
%h4
  3. Urheber- und Kennzeichenrecht
%p
  Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
  Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen
  oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des
  Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt
  den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.
  Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
  Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.
  Eine Vervielf&auml;ltigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen
  elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
%h4
  4. Datenschutz
%p
  Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten
  (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich
  freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar -
  auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet.
  Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften,
  Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet.
  Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.
%h4
  5. Rechtswirksamkeit dieses Haftungsausschlusses
%p
  Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde.
  Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten,
  bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.




