- championtip_team = presenter.championtip_team

- if Tournament.not_yet_started?
  %p
    - if championtip_team.present?
      = I18n.t('current_champion_tip')
      = presenter.championtip_team_with_flag
    - else
      %b
        = I18n.t('need_champion_tip')
      %br
      = I18n.t('need_champion_tip_info', points: Users::UpdatePoints::CHAMPION_TIP_POINTS)

  = form_tag champion_tips_path, method: :put, class: 'form-horizontal' do
    - selected = championtip_team.present? ? championtip_team.id : ''
    - options =  options_for_select(presenter.options_for_champion_tip_select, selected)
    = render partial: 'widgets/selectbox_with_postifx_button',
             locals: {select_id: 'championtip_team_id',
                      select_options: options,
                      button_text: t('save') }

- else
  %blockquote
    - if championtip_team.present?
      = I18n.t('champion_tip')
      = presenter.championtip_team_with_flag
    - else
      = I18n.t('no_champion_tip')