%section.hero{'data-interchange' => "[#{asset_path('hero-image-green-gras.jpg')}, (small)], [#{asset_path('hero-image-green-gras.jpg')}, (medium)], [#{asset_path('hero-image-green-gras.jpg')}, (large)]"}

  -# Space placeholder
  .row.show-for-small-only
    .medium-12.columns.space-small
  .row.show-for-medium
    .medium-12.columns.space-medium

  .row
    .small-centered.medium-uncentered.medium-6.large-7.columns
      = render :partial => 'welcome_text_infos'
      = render :partial => 'login_form'
    .small-centered.medium-uncentered.medium-6.large-5.columns
      .pokal-img

  -# Space placeholder
  .row.show-for-small-only
    .medium-12.columns.space-small
  .row.show-for-medium
    .medium-12.columns.space-medium