-# FIXME soeren 10.04.15 #92 unterschiedliche hro-images fuer small machen
%section.hero{'data-interchange' => "[#{asset_path('hero-image-green-gras.jpg')}, (small)], [#{asset_path('hero-image-green-gras.jpg')}, (medium)], [#{asset_path('hero-image-green-gras.jpg')}, (large)]"}

  -# Space placeholder, diffent on small, ..., large
  .row.show-for-small-only
    .medium-12.columns.space-top-small-up
  .row.show-for-medium-up
    .medium-12.columns.space-top-medium-up

  .row
    .small-centered.medium-uncentered.medium-6.large-7.columns
      = render :partial => 'welcome_text_infos'
      = render :partial => 'login_form'
    .small-centered.medium-uncentered.medium-6.large-5.columns
      .pokal-img
