- if user_signed_in?
  %p
    - if @own_position.present?
      .alert.alert-info
        Du bist auf dem #{@own_position}. Platz!
    = render :partial => "ranking/user_ranking",
             :locals => {:user_ranking => @user_top3_ranking_hash, :short_version => true}
-else
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class=>""}) do |f|
    = custom_devise_error_messages!
    = f.label :email
    = f.text_field :email, :class=>"span3"
    = f.label :password
    = f.password_field :password, :class=>"span3"

    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        = f.label :remember_me

    %p= f.submit t("devise.sign_in"), :class => "btn"

    = render :partial => "devise/shared/links"