- unless user_signed_in?
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class=>""}) do |f|
    = custom_devise_error_messages!
    .row
      .small-12.large-7.columns.right
        = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'envelope-o'} do
          = f.email_field :email, placeholder: User.human_attribute_name(:email)
    .row
      .small-12.large-7.columns.right
        = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
          = f.password_field :password, placeholder: User.human_attribute_name(:password)
    .row
      .small-12.large-7.columns.right
        - if devise_mapping.rememberable?
          %label
            = f.check_box :remember_me
            = f.label :remember_me
    .row
      .small-12.large-7.columns.right
        .row
          .small-6.large-6.columns
            = f.submit t("devise.sign_in"), class: "button"
          .small-6.large-6.columns
            = link_to(t("devise.sign_up"),
                      new_registration_path(resource_name),
                      class: 'button secondary right')

    .row
      .small-12.columns
        %p
          = link_to t("devise.forgot_pw"), new_password_path(resource_name)
          %br
          = link_to t("devise.not_receive_confirmation_info"), new_confirmation_path(resource_name)

