- if tournament_finished
  %p
    %b
      AUUUSSS AUUUSSS - das Spiel ist aus! Der Sieger steht fest!

  - if current_user.present?
    %p
      %b
        Trommelwirbel - Herzlichen Glückwunsch!
    %p
      Der Pokal wird schnellstmöglich den Weg zum Gewinner finden. Allen Anderen danke ich für die Teilnahme,
      hoffe es hat Spaß gemacht und bis zum nächsten Mal in 2 Jahren.
- else
  - if today_games.present?
    %h4
      Spiele des heutigen Tages
      - if user_signed_in?
        = link_to(t('to_tip_page'), tips_path)
    %table
      %thead.hide-for-small-only
        %tr
          %th= Game.human_attribute_name('start_at')
          %th= Game.human_attribute_name('team1')
          %th= Game.human_attribute_name('team2')
          %th= Game.human_attribute_name('result')
      %tbody
        - today_games.each do |game|
          %tr
            %td= l(game.start_at, :format => :time)
            %td
              - write_team_with_flag(game.team1_view_name, game.team1_country_code)
            %td
              - write_team_with_flag(game.team2_view_name, game.team2_country_code)
            %td= "#{game.team1_goals} : #{game.team2_goals}" ## FIXME soeren 30.04.15 refactoring wird noch genauso an anderen Stellen genutzt
