- tips = presenter.tips
- if tips.present?
  %p
    =  I18n.t('random_tips_description1')
    = link_to(t('random_tips'), '#', {id: 'js_fill_random_tips', remote: true})
    = raw I18n.t('random_tips_description2')

  = render partial: 'widgets/mixitup_control_bar'

  = form_tag save_tips_tips_path, id: 'js_save_tips' do
    %table.tips.hover#mixitup-table
      %thead.hide-for-small-only
        %tr.white-bg
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= Tip.model_name.human
          %th= Tip.human_attribute_name('tip_points')
          %th= ''
      %tbody
        - presenter.tip_presenters.each do |tip_presenter|
          - game_presenter = GamePresenter.new(tip_presenter.game)
          - filter_css_classes = game_presenter.filter_categories_css_classes

          - edit_allowed = tip_presenter.edit_allowed?
          - place = game_presenter.place
          - tip_points = tip_presenter.tip_points
          - pointbadge = tip_presenter.pointbadge_large(tip_points)
          - if edit_allowed
            - link_to_compare_tips = ''
            - tip1_input = tip_input(tip_presenter.id, 'team1_goals', tip_presenter.team1_goals)
            - tip2_input = tip_input(tip_presenter.id, 'team2_goals', tip_presenter.team2_goals)
          - else
            - link_to_compare_tips = link_to(icon('angle-double-right', nil, {class: 'fa-fw'}),
                                             compare_tips_path(game_id: game_presenter.id),
                                             title: I18n.t(:comparetips))
            - tip1_input = tip_presenter.team1_goals
            - tip2_input = tip_presenter.team2_goals
          %tr{class: filter_css_classes}
            %td.show-for-small-only.small-align-top
              .row
                .small-12.columns.date-round-place-infos
                  = game_presenter.formatted_start_at_short
                  = place
                  = '-'
                  = game_presenter.round_or_group_name
                  = link_to_compare_tips
              .row.team-infos
                .small-7.columns
                  = game_presenter.team1_with_flag(flag_size: 16, flag_position: 'left')
                .small-2.columns.end
                  = game_presenter.team1_goals
                .small-7.columns
                  = game_presenter.team2_with_flag(flag_size: 16, flag_position: 'left')
                .small-2.columns.end
                  = game_presenter.team2_goals


            %td.hide-for-small-only
              = game_presenter.formatted_start_at
              %span.place-info
                = 'in'
                = place
            %td.hide-for-small-only
              = game_presenter.round_or_group_name
            %td.hide-for-small-only.text-right
              = game_presenter.team1_with_flag(flag_size: 32, flag_position: 'right')
            %td.hide-for-small-only.text-center.white-space-nowrap
              = game_presenter.result
            %td.hide-for-small-only.text-left
              = game_presenter.team2_with_flag(flag_size: 32, flag_position: 'left')

            -# wird in allen Aufloesungen angezeigt
            %td.white-space-nowrap.small-align-bottom-and_float-right
              %span.show-for-small-only
                - unless edit_allowed
                  = raw pointbadge
                %span.tip-label
                  %br
                  = Tip.model_name.human
                %br
              = raw "#{tip1_input} : #{tip2_input}"

            %td.hide-for-small-only
              - unless edit_allowed
                = raw pointbadge
            %td.hide-for-small-only
              = link_to_compare_tips

    .row
      .small-12.columns
        %span.float-right
          = submit_tag t('save_tip'), :class => 'button'

- else
  %p= 'No Tips'