= image_tag "pokal.jpg", :class => "pull-right hidden-phone", :width => '160'
= image_tag "pokal.jpg", :class => "pull-right visible-phone", :width => '80'
%h3
  Hallo und Sport frei zur #{t('tournament_name')}!
%p
  Wer wird wohl dieses Jahr den umwerfenden Tippspiel-Wanderpokal, verbunden mit
  unbeschreiblichem Ruhm und uneingeschränktem Prahlrecht mit nach Hause nehmen?
%p
  Um zu dieser Ehre zu gelangen, einfach #{link_to('anmelden', new_registration_path(resource_name))} und die Spiele tippen!
%p
  Falls es trotz der #{link_to "einfachen Regeln", help_path} noch Fragen gibt, einfach bei mir melden.

- if before_tournament?
  %p
    Der Spaß beginnt in
  - write_countdown

- if tournament_finished?
  %p
    %b
      AUUUSSS AUUUSSS - das Spiel ist aus! Der Sieger steht fest!

  - if current_user.present?
    %p
      %b
        Trommelwirbel - Herzlichen Glückwunsch!
    %p
      Der Pokal wird schnellstmöglich den Weg zum Gewinner finden. Allen Anderen danke ich für die rege Teilnahme,
      hoffe es hat Spaß gemacht und bis zum nächsten Mal in 2 Jahren.
- else
  - if today_games.present?
    %h4
      Spiele des heutigen Tages
    %table.table.table-striped.table-condensed.size_70percent
      %thead
        %tr
          %th= Game.human_attribute_name("start_at")
          %th= Game.human_attribute_name("team1")
          %th= Game.human_attribute_name("team2")
          %th= Game.human_attribute_name("result")
      %tbody
        - today_games.each do |game|
          %tr
            %td= l(game.start_at, :format => :time)
            %td
              - write_team_with_flag(game.team1_view_name, game.team1_flag_path)
            %td
              - write_team_with_flag(game.team2_view_name, game.team2_flag_path)
            %td= "#{game.team1_goals} : #{game.team2_goals}"
