- if user_signed_in?
  %h1= "#{hello_user_name}, Sport frei zur #{TOURNAMENT_NAME}!"
- else
  %h1= "Hallo, Sport frei zur #{TOURNAMENT_NAME}!"

%p.hidden-for-small-only
  Wer wird wohl dieses Jahr den umwerfenden Tippspiel-Wanderpokal
  verbunden mit unbeschreiblichem Ruhm und uneingeschränktem
  Prahlrecht mit nach Hause nehmen?
  Um zu dieser Ehre zu gelangen, einfach
  - unless user_signed_in?
    = link_to('anmelden', new_registration_path(resource_name))
    und
  die Spiele tippen!