- content_for :hero_image do
  %section.hero

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

    .row
      .medium-offset-3.medium-9.large-offset-5.large-7.columns
        .callout
          - result = @presenter.get_user_top3_and_own_position
          - own_position = result.own_position
          %h2
            = "#{I18n.t(:signed_in_hello)} #{current_user.name}"
          %p
            = "Du bist mit #{@presenter.user_points} Punkten auf dem #{own_position}. Platz!"
          .row
            .small-12.columns
              = link_to(icon('list-ol', I18n.t('full_ranking_list'), {class: 'fa-fw'}), ranking_path)
            .small-12.columns
              = link_to(icon('pencil-square-o',I18n.t('to_tip_page'), {class: 'fa-fw'}), tips_path)


          - if @presenter.tournament_finished?
            %p
              %b
                AUUUSSS AUUUSSS - das Spiel ist aus!
            %p
              Der Pokal wird schnellstmöglich den Weg zum Gewinner finden. Allen Anderen danke ich für die Teilnahme und
              hoffe es hat Spaß gemacht. Bis zum nächsten Mal in 2 Jahren.

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

.row
  .small-12.columns
    = render partial: 'widgets/games_index', locals: {presenter: @presenter.games_presenter}