- content_for :hero_image do
  %section.hero

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

    .row
      .medium-offset-3.medium-9.large-offset-5.large-7.columns
        .callout
          %h2
            = "#{I18n.t(:signed_in_hello)} #{@presenter.user_name}"
          .row
            .small-12.columns
              = link_to(icon('fas', 'rocket', @presenter.bonus_question_link_text, {class: 'fa-fw'}), edit_bonus_path)
            .small-12.columns
              = link_to(icon('fas', 'list-ol', I18n.t('full_ranking_list'), {class: 'fa-fw'}), rankings_path)
            .small-12.columns
              = link_to(icon('fas', 'chart-line', I18n.t(:your_statistic), {class: 'fa-fw'}), statistic_path(current_user))

          - if @presenter.tournament_finished?
            %br
            %p
              %b
                = t('tournament_finished_heading')
            %p
              = t('tournament_finished_body')

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

.row
  .small-12.columns
    .tips-header
      %h3.tips-header-title= t('your_tips')
      - if @presenter.tips.present?
        .tips-header-filter
          = render partial: 'widgets/mixitup_control_bar'

    = render partial: 'user_tips', locals: {presenter: @presenter}
