%h1= t( :dashboard )
%p
  = link_to t( :label_website_new ), new_website_path

%div
%table{ :width=>"100%"}
  %thead
    %tr
      %th Name
      %th URL
      - Website::CHECKERS_SYMS.each do |checker_sym_typ|
        %th= Website.get_class_constant_from_sym(checker_sym_typ).model_name.human

  %tbody
    - @websites.each do |website|
      %tr
        %th= link_to(website.name, :controller => "websites", :action => "show", :id => website.id)
        %th= website.url
        - Website::CHECKERS_SYMS.each do |checker_sym_typ|
          %th= I18n.t(website.send(checker_sym_typ).try(:frequency), :scope=>"activerecord.enums.checker.frequencies")

%br

#results
  %h3
    Results
