%h3= t("devise.resend_confirmation_instruction")
%br
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = custom_devise_error_messages!

  = f.label :email
  = f.email_field :email

  %p= f.submit t("devise.resend_confirmation_instruction_btn"), :class=>"btn"

= render :partial => "devise/shared/links"