- user_ranking_hash = presenter.user_ranking_hash
- if user_ranking_hash.present?

  %table.ranking.hover
    %thead.hide-for-small-only
      %tr.white-bg
        %th= t('standings')
        %th= User.human_attribute_name('name')
        %th= Game.human_attribute_name('bonus')
        %th= User.human_attribute_name('points')
    %tbody
      - user_ranking_hash.each do |place, users_on_same_place|
        - users_on_same_place.each do |user|
          - user_name_with_statistic_link = link_to(user.name, statistic_path(user), {title: I18n.t(:show_statistic_for, name: user.name)})
          - user_points = user.points.present? ? user.points.to_s : '0'
          %tr{id: "place_#{place}"}
            %td.show-for-small-only
              .row
                .small-2.columns.text-left
                  %span.place= place
                .small-10.columns
                  .row
                    .small-9.columns.text-left
                      = user_name_with_statistic_link
                    .small-3.columns.text-right
                      %span.user-points
                        = user_points
                  .row
                    .small-5.columns.small-infos
                      = raw presenter.bonus_ranking_info(user, true)
                    .small-7.columns.text-right
                      = statistic_content(user).html_safe

            %td.hide-for-small-only.place= place
            %td.hide-for-small-only= user_name_with_statistic_link
            %td.hide-for-small-only= raw presenter.bonus_ranking_info(user)
            %td.hide-for-small-only
              %span.user-points= user_points
              %span.user-statistic= statistic_content(user).html_safe

- else
  %p= t('no_user')