.row
  .small-12.columns
    %h3
      = t('ranking')
      %small=t('result_after_game_count', finished_games_count: @presenter.finished_games_count,
                                          all_games_count: @presenter.all_games_count)
    %p
      = t('x_user_bet', user_count: @presenter.user_count)
      = hall_of_fame_link
      = '.'
      %br
      %small
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'eight-point-color')
          = "#{TipPoints::PERFECT} Pkt."
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'five-point-color')
          = "#{TipPoints::CORRECT_GOALS_ONE_TEAM} Pkt."
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'four-point-color')
          = "#{TipPoints::CORRECT_GOALS} Pkt."
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'three-point-color')
          = "#{TipPoints::CORRECT_TREND} Pkt."
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'null-point-color')
          = "#{TipPoints::NO_POINTS} Pkt."
        %span.point-explaining
          = icon('fas', 'circle', '', class: 'badge-bonus bonus-point-color')
          = User.human_attribute_name('bonuspoints_small')



    = render partial: 'user_ranking', locals: {presenter: @presenter}

    - if @presenter.bonus_answers_visible?
      %p
        %small
          = Game.human_attribute_name('bonus') + ':'
          = I18n.t('ranking_bonus_answers_help')
