.row
  .small-12.columns
    %h3
      = t('ranking')
      %small=t('result_after_game_count', finished_games_count: @presenter.finished_games_count,
                                          all_games_count: @presenter.all_games_count)
    %p
      = t('x_user_bet', user_count: @presenter.user_count)
      = hall_of_fame_link
      = '.'
      %br
      = render 'shared/point_legend'



    = render partial: 'user_ranking', locals: {presenter: @presenter}

    - if @presenter.bonus_answers_visible?
      %p
        %small
          = Game.human_attribute_name('bonus') + ':'
          = I18n.t('ranking_bonus_answers_help')
