.row
  .small-12.columns
    %h3= t('devise.sign_up')
    = custom_devise_error_messages!
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('far', 'envelope', nil, {class: 'fa-fw'})
            = f.email_field :email, class: 'input-group-field', placeholder: User.human_attribute_name(:email)

      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('far', 'edit', nil, {class: 'fa-fw'})
            = f.text_field :firstname, class: 'input-group-field', placeholder: User.human_attribute_name(:firstname)

      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('far', 'edit', nil, {class: 'fa-fw'})
            = f.text_field :lastname, class: 'input-group-field', placeholder: User.human_attribute_name(:lastname)

      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('fas', 'lock', nil, {class: 'fa-fw'})
            = f.password_field :password, class: 'input-group-field', placeholder: User.human_attribute_name(:password)

      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('fas', 'lock', nil, {class: 'fa-fw'})
            = f.password_field :password_confirmation, class: 'input-group-field', placeholder: User.human_attribute_name(:password_confirmation)

      .row
        .small-12.large-7.columns
          = I18n.t('create_initial_random_tips_description')
      .row
        %label
          .small-1.large-1.columns.create_initial_random_tips
            = f.check_box :create_initial_random_tips
          .small-11.large-6.columns.end
            = f.label :create_initial_random_tips, I18n.t('create_initial_random_tips')

      %br
      .row
        .small-12.large-7.columns
          = f.submit t('devise.sign_up'), :class=>'button'

    = render :partial => 'devise/shared/links'
