%h3= t("devise.sign_up")
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = custom_devise_error_messages!

  .row
    .small-12.large-7.columns
      = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'envelope-o'} do
        = f.email_field :email, placeholder: User.human_attribute_name(:email)

  .row
    .small-12.large-7.columns
      = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'pencil'} do
        = f.text_field :firstname, placeholder: User.human_attribute_name(:firstname)

  .row
    .small-12.large-7.columns
      = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'pencil'} do
        = f.text_field :lastname, placeholder: User.human_attribute_name(:lastname)

  .row
    .small-12.large-7.columns
      = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
        = f.password_field :password, placeholder: User.human_attribute_name(:password)

  .row
    .small-12.large-7.columns
      = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
        = f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation)

  .row
    .small-12.large-7.columns
    = f.submit t("devise.sign_up"), :class=>"button icon-search"

= render :partial => "devise/shared/links"
