- if tipps_round_hash.present?

  = render :partial => 'random_tip_link'
  %br
  = form_tag '/save-tipps', :id => 'js_save_tipps' do
    = render :partial => 'only_today_games_link'

    -# # TODO soeren 19.05.14 #72 besser machen
    = hidden_field_tag(:for_phone, @for_phone)

    -# eigenes table strip mittels css
    %table.tipps
      - tipps_round_hash.each do |index, round_with_tipps|
        - round_with_tipps.each_pair do |round_name, tipps|
          %thead
            %tr.without_border_top.white-bg
              %th.round_name{:colspan => 3}= t(round_name, :scope => 'round')
          %tbody
            - tipps.each do |tipp|
              - game                 = tipp.game
              - edit_allowed         = tipp.edit_allowed?
              - row_class            = cycle('my-even', 'my-odd')
              - today_game_css_class = get_today_game_css_class(today_game_ids, game.id)

              -# for phone
              %tr{:class => "#{row_class} #{today_game_css_class}"}
                %td
                  = l(game.start_at, :format => :default)
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team1_view_name, game.team1_country_code, "#{game.team1_goals}<br/>".html_safe )
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team2_view_name, game.team2_country_code, "#{game.team2_goals}<br/>".html_safe)
              %tr{:class => "#{row_class} without_border_top #{today_game_css_class}"}
                %td
                  - if edit_allowed
                    %span.muted= Tipp.model_name.human
                  - else
                    %span.muted= "#{Tipp.model_name.human} (#{Tipp.human_attribute_name('tipp_punkte')})"
                %td
                  - if edit_allowed
                    - write_tipp_input(tipp.id, 'team1_goals', tipp.team1_goals)
                  - else
                    = "#{tipp.team1_goals}" #{tipp.team2_goals} (#{tipp.tipp_punkte})"
                %td
                  - if edit_allowed
                    - write_tipp_input(tipp.id, 'team2_goals', tipp.team2_goals)
                  - else
                    =  "#{tipp.team2_goals} (#{tipp.tipp_punkte})"

    .row
      %div
        %span.pull-right
          = submit_tag t('save_tipp'), :class => 'button'
      = render :partial => 'overlay_submit_button_link'

- else
  %p= 'No Tipps'