- if tipps_round_hash.present?

  .random_tips
    - content = I18n.t('random_tips_description')
    = link_to(t('random_tips'), '#',
              {:id => 'js_fill_random_tips', :class => '', :remote => true,
               :rel => 'popover', 'data-content' => content})

  = form_tag '/save-tipps' do
    -# eigenes table strip mittels css, daher kein .table-striped bei %table
    %table.table.table-condensed.tipps
      - tipps_round_hash.each do |index, round_with_tipps|
        - round_with_tipps.each_pair do |round_name, tipps|
          %thead
            %tr.without_border_top
              %th.round_name{:colspan => 3}= t(round_name, :scope => 'round')
          %tbody
            - tipps.each do |tipp|
              - game = tipp.game
              - edit_allowed = tipp.edit_allowed?
              - row_class = cycle('even', 'odd')

              -# for phone
              %tr{:class => "#{row_class}"}
                %td
                  = l(game.start_at, :format => :default)
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team1_view_name, game.team1_country_code, "#{game.team1_goals}<br/>".html_safe )
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team2_view_name, game.team2_country_code, "#{game.team2_goals}<br/>".html_safe)
              %tr{:class => "#{row_class} without_border_top"}
                %td
                  - if edit_allowed
                    %span.muted= Tipp.model_name.human
                  - else
                    %span.muted= "#{Tipp.model_name.human} (#{Tipp.human_attribute_name('tipp_punkte')})"
                %td
                  - if edit_allowed
                    - write_tipp_input(tipp.id, 'team1_goals', tipp.team1_goals)
                  - else
                    = "#{tipp.team1_goals}" #{tipp.team2_goals} (#{tipp.tipp_punkte})"
                %td
                  - if edit_allowed
                    - write_tipp_input(tipp.id, 'team2_goals', tipp.team2_goals)
                  - else
                    =  "#{tipp.team2_goals} (#{tipp.tipp_punkte})"

    .row
      %div
        %span.pull-right
          = submit_tag t('save_tipp'), :class => 'btn'
      %div#js_overlay_tip_save.hidden
        %span
          = submit_tag t('save_tipp'), :class => 'btn'

- else
  %p= 'No Tipps'