- if tipps_round_hash.present?
  = form_tag "/save-tipps" do
    %table.table.table-striped.tipps
      - tipps_round_hash.each do |index, round_with_tipps|
        - round_with_tipps.each_pair do |round_name, tipps|
          %thead
            %tr
              %th.round_name{:colspan => 7}= t(round_name, :scope => "round")
            %tr.next_to_round_name
              %th= Game.human_attribute_name("start_at")
              %th= Game.human_attribute_name("place")
              %th= Game.human_attribute_name("team1")
              %th= Game.human_attribute_name("team2")
              %th= Game.human_attribute_name("result")
              %th= Tipp.model_name.human
              %th= Tipp.human_attribute_name("tipp_punkte")
          %tbody
            - tipps.each do |tipp|
              - game = tipp.game
              - edit_allowed = tipp.edit_allowed?
              %tr{:class => cycle('even', 'odd')}
                %td= l(game.start_at, :format => :default)
                %td= game.place
                %td= game.team1_view_name
                %td= game.team2_view_name
                %td= game.team1_goals.to_s + " - " + game.team2_goals.to_s
                - if edit_allowed
                  %td.tipp_input_td
                    - write_tipp_input(tipp.id, "team1_goals", tipp.team1_goals)
                    =":"
                    - write_tipp_input(tipp.id, "team2_goals", tipp.team2_goals)

                - else
                  %td= "#{tipp.team1_goals}:#{tipp.team2_goals}"
                %td= tipp.tipp_punkte
    %div= submit_tag t('save_tipp')

- else
  %p= "No Tipps"