- cache("hall_of_fame_caching_#{I18n.locale}") do


  - champions = [{name: '???',                          tournament: 'WM 2026', :img => 'pokalsieger.jpg'},
                 {name: 'Simone Petrich',               tournament: 'EM 2024', :img => 'em2024sieger.jpg'},
                 {name: 'Jens Witschurke',              tournament: 'WM 2022', :img => 'wm2022sieger.jpg'},
                 {name: 'Jens Witschurke',              tournament: 'EM 2020', :img => 'em2020sieger.jpg'},
                 {name: 'Christian Herbst',             tournament: 'WM 2018', :img => 'wm2018sieger.jpg'},
                 {name: 'Sebastian Nestler',            tournament: 'EM 2016', :img => 'em2016sieger.jpg'},
                 {name: 'Uwe Scheithauer',              tournament: 'WM 2014', :img => 'wm2014sieger.jpg'},
                 {name: 'Christian Kurth',              tournament: 'EM 2012', :img => 'em2012sieger.jpg'},
                 {name: 'Markus Gödke',                 tournament: 'WM 2010', :img => 'wm2010sieger.jpg' },
                 {name: 'Jens Bruch',                   tournament: 'EM 2008', :img => 'em2008sieger.gif'},
                 {name: 'Enrico Schwarz',               tournament: 'WM 2006', :img => 'wm2006sieger.jpg'},
                 {name: 'Chris Zenker',                 tournament: 'EM 2004', :img => 'em2004sieger.jpg'},
                 {name: 'Ina Foedisch und Ricardo Mai', tournament: 'WM 2002', :img => 'pokalsieger.jpg'}]

  .row
    .small-12.columns
      %h3= t('hall_of_fame')

      %p= t('hall_of_fame_intro')

  #hall-of-fame.row
    %ul
      - champions.each do |champ|
        .small-12.medium-6.large-4.columns.end
          %li
            %figure
              = image_tag(champ[:img], alt: champ[:name], class: 'thumbnail')
              %figcaption
                %h5= champ[:name]
                %span.label= t('hall_of_fame_winner', tournament: champ[:tournament])
