.row
  .small-12.columns
    %h3=@presenter.header_text

    - if @presenter.data_to_show?
      -# Mobile: summary stats (small only)
      .show-for-small-only
        %h4=@presenter.ranking_summary_header_text
        .ranking-summary
          .ranking-summary-item
            %div.ranking-summary-label= t(:ranking_current)
            %div.ranking-summary-number= "##{@presenter.ranking_current}"
            %div.ranking-summary-date= @presenter.ranking_current_date
          .ranking-summary-item.ranking-summary-item--best
            %div.ranking-summary-label= t(:ranking_best)
            %div.ranking-summary-number= "##{@presenter.ranking_best}"
            %div.ranking-summary-date= @presenter.ranking_best_date
          .ranking-summary-item.ranking-summary-item--worst
            %div.ranking-summary-label= t(:ranking_worst)
            %div.ranking-summary-number= "##{@presenter.ranking_worst}"
            %div.ranking-summary-date= @presenter.ranking_worst_date

      -# Desktop: full chart (medium and up)
      .row.hide-for-small-only
        .small-12.columns
          %h4=@presenter.line_chart_header_text
          .ranking-chart-scroll-wrapper
            .ranking-chart-container
              %canvas#my-ranking-chart

      %h4.ranking-tips-header=@presenter.tips_header_text
      .row
        .small-12.padding-left-right-5
          %table.hover
            %thead
              %tr.white-bg
                %th.hide-for-small-only= ''
                %th.hide-for-small-only= ''
                %th.hide-for-small-only= ''
                %th= ''
                %th= Tip.model_name.human
                %th= Tip.human_attribute_name('tip_points')
            %tbody
            - @presenter.finished_tips.each do |tip|
              - game_presenter = GamePresenter.new(tip.game)
              - tip_presenter = TipPresenter.new(tip)
              - place = game_presenter.place
              %tr
                %td.show-for-small-only.small-align-top
                  .row
                    .small-12.columns.date-round-place-infos
                      = game_presenter.formatted_start_at_short
                      = place
                      = '-'
                      = game_presenter.round_or_group_name
                  .row.team-infos
                    .small-7.columns
                      = game_presenter.team1_with_flag(flag_size: 16, flag_position: 'left')
                    .small-2.columns.end
                      = game_presenter.team1_goals
                    .small-7.columns
                      = game_presenter.team2_with_flag(flag_size: 16, flag_position: 'left')
                    .small-2.columns.end
                      = game_presenter.team2_goals

                %td.hide-for-small-only
                  = game_presenter.formatted_start_at
                  %span.place-info
                    = 'in'
                    = place
                %td.hide-for-small-only.text-right
                  = game_presenter.team1_with_flag(flag_size: 32, flag_position: 'right')
                %td.hide-for-small-only.text-center.white-space-nowrap
                  = game_presenter.result
                %td.hide-for-small-only.text-left
                  = game_presenter.team2_with_flag(flag_size: 32, flag_position: 'left')
                %td= "#{tip.team1_goals} : #{tip.team2_goals}"
                %td= raw tip_presenter.pointbadge_large(tip_presenter.tip_points)

      :javascript
        $(document).ready(function() {
          var ctx = document.getElementById('my-ranking-chart').getContext('2d');

          var gradient = ctx.createLinearGradient(0, 0, 0, 300);
          gradient.addColorStop(0, 'rgba(99,179,237,0.35)');
          gradient.addColorStop(1, 'rgba(99,179,237,0.0)');

          var chartData = #{@presenter.line_chart_data.to_json.html_safe};
          var chartOptions = #{@presenter.line_chart_options.to_json.html_safe};
          var xLabels = chartData.labels;

          chartData.datasets[0].backgroundColor = gradient;

          chartOptions.plugins.tooltip.callbacks = {
            title: function(items) {
              return xLabels[items[0].dataIndex] || '';
            },
            label: function(item) {
              return ' Place #' + item.raw;
            }
          };

          new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: chartOptions
          });
        });
    - else
      %p= t(:ranking_per_game_nothing_to_show)
