.row
  .small-12.columns
    %h3= t("devise.forgot_pw")
    = custom_devise_error_messages!
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      .row
        .small-12.large-7.columns
          .input-group
            .input-group-label
              = icon('far', 'envelope', nil, {class: 'fa-fw'})
            = f.email_field :email, class: 'input-group-field', placeholder: User.human_attribute_name(:email)
      .row
        .small-12.large-7.columns
          = f.submit t('devise.send_passwort_instructions'), :class=>"button"

    = render :partial => "devise/shared/links"