%small
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'eight-point-color')
    = "#{TipPoints::PERFECT} #{t('points_abbr')}"
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'five-point-color')
    = "#{TipPoints::CORRECT_GOALS_ONE_TEAM} #{t('points_abbr')}"
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'four-point-color')
    = "#{TipPoints::CORRECT_GOALS} #{t('points_abbr')}"
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'three-point-color')
    = "#{TipPoints::CORRECT_TREND} #{t('points_abbr')}"
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'null-point-color')
    = "#{TipPoints::NO_POINTS} #{t('points_abbr')}"
  %span.point-explaining
    = icon('fas', 'circle', '', class: 'badge-bonus bonus-point-color')
    = User.human_attribute_name('bonuspoints_small')
