.row
  .small-12.columns
    %h3= t('comparetips')

    %p
      Was haben die anderen getippt? Sobald ein Spiel begonnen hat, kannst du es hier erfahren.

    - game_to_compare_presenter = @presenter.game_to_compare_presenter
    - tips = @presenter.tips

    = form_tag compare_tips_path, :class => 'form-inline' do
      - selected = game_to_compare_presenter.present? ? game_to_compare_presenter.id : ''
      - options  = options_for_select(@presenter.options_for_select, selected)
      = render partial: 'widgets/selectbox_with_postifx_button',
               locals: {select_id: 'game_id',
                        select_options: options,
                        button_text: t('compare') }

    - if game_to_compare_presenter.present? && tips.present?
      %p
        %blockquote
          = game_to_compare_presenter.formatted_start_at
          %br.show-for-small-only
          = raw game_to_compare_presenter.team_names_with_flags
          %br
          %b
            = Game.human_attribute_name('result')
            = game_to_compare_presenter.result

      = text_field_tag('search', nil,  {id: 'table-filter-input',
                        class: 'js-table-filter-input',
                        data: {table: 'js-filter-table'},
                        placeholder: I18n.t(:type_to_filter)})
      %table.hover.js-filter-table
        %thead
          %tr.white-bg
            %th= User.human_attribute_name('name')
            %th= Tip.model_name.human
            %th= Tip.human_attribute_name('tip_points')
        %tbody
        - tips.each do |tip|
          - tip_presenter = TipPresenter.new(tip)
          - if tip_presenter.user.present?  # es kann geloeschte Nutzer geben, aber die Tipps zeigen noch auf den Nutzer :-(
            - allowed_to_show = @presenter.allowed_to_show?(tip)
            - user_name = tip_presenter.user.name
            %tr
              %td= link_to(user_name, statistic_path(tip_presenter.user), {title: I18n.t(:show_statistic_for, name: user_name)})
              %td= allowed_to_show ? "#{tip.team1_goals} : #{tip.team2_goals}" : ''
              %td= raw allowed_to_show ? tip_presenter.pointbadge_large(tip_presenter.tip_points) : ''
