.row
  .small-12.columns
    %h3
      = t('ranking')
      %small=t('result_after_game_count', finshed_games_count: @presenter.finshed_games_count,
                                          all_games_count: @presenter.all_games_count)
    %p
      = t('x_user_bet', user_count: @presenter.user_count)
      = hall_of_fame_link
      = '.'
      %br
      %small
        %span.point-explaning
          = icon('circle', '', class: 'eight-point-color')
          = "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte"
        %span.point-explaning
          = icon('circle', '', class: 'five-point-color')
          = "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte"
        %span.point-explaning
          = icon('circle', '', class: 'four-point-color')
          = "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte"
        %span.point-explaning
          = icon('circle', '', class: 'three-point-color')
          = "#{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte"
        %span.point-explaning
          = icon('circle', '', class: 'null-point-color')
          = '0 Punkte'

    = render partial: 'user_ranking', locals: {presenter: @presenter}
