%h3=I18n.t('games_of', tournament_name: TOURNAMENT_NAME)

= render partial: 'widgets/mixitup_control_bar'

- if presenter.games.present?
  %table.hover#mixitup-table
    %tbody
      - presenter.game_presenters.each do |game_presenter|
        - filter_css_classes = game_presenter.filter_categories_css_classes
        %tr{class: filter_css_classes}
          %td.show-for-small-only
            .row.small-infos
              .small-4.columns.text-left
                = game_presenter.formatted_start_at_short
              .small-4.columns.text-center
                = game_presenter.round_or_group_name
              .small-4.columns.text-right
                = game_presenter.place
            .row
              .small-5.columns.text-right.no-padding-right
                = game_presenter.team1_with_flag(flag_size: 16, flag_position: 'right')
              .small-2.columns.text-center.white-space-nowrap
                = game_presenter.result
              .small-5.columns.text-left.no-padding-left
                = game_presenter.team2_with_flag(flag_size: 16, flag_position: 'left')
            - if presenter.show_edit_link?
              .row
                .small-12.columns.text-right
                  = link_to(icon('pencil'), edit_admin_game_path(game_presenter))

          %td.hide-for-small-only= game_presenter.formatted_start_at
          %td.hide-for-small-only= game_presenter.round_or_group_name
          %td.hide-for-small-only= game_presenter.place
          %td.hide-for-small-only.text-right
            = game_presenter.team1_with_flag(flag_size: 32, flag_position: 'right')
          %td.hide-for-small-only.text-center
            = game_presenter.result
          %td.hide-for-small-only.text-left
            = game_presenter.team2_with_flag(flag_size: 32, flag_position: 'left')
          - if presenter.show_edit_link?
            %td.hide-for-small-only= link_to(icon('pencil'), edit_admin_game_path(game_presenter))