- if presenter.rss_title.present?
  %br
  %br
  %h3.wrap_text= presenter.rss_title
- if presenter.rss_entries.present?
  - presenter.rss_entries.each do |e|
    %p
      %span.rss_date= I18n.l(e['published'].to_date)
      %br
      - link = e.url
      -# if link.starts_with?("#{RSS_FEED_MAIN_URL}")
      = link_to(e.title, "#{link}", :target => '_blank')
      -# else
        =# link_to(e.title, "#{RSS_FEED_MAIN_URL}#{link}", :target => '_blank')
      %br
      %span.wrap_text= raw(e.summary)
