%h3= t("notice")
%br

= form_tag "/save-notice", :class=>"form-inline" do
  %fieldset
    .control-group
      %label.control-label{:for=>"text"}= "Na haste was zu melden?"
      .controls
        = text_area_tag :text, nil, :id=>"notice_text", :class=>"span7",:maxlength => 200,:rows => 3
        %p
          = I18n.t("characters_remaining")
          %span.js_chars_remaining
        = button_tag(icon_with_text("icon-comment", t(:save)), :class => "btn")
        = link_to t(:delete_link), notice_path

- if @notes.present?
  - @notes.each do |notice|
    - class_name = cycle("", "pull-right")
    .row
      .span9
        %blockquote{:class => class_name}
          %p= notice.text
          %small
            = l(notice.created_at) + ", "
            = notice.user.name if notice.user.present?
  %br
  %br
  %br
