%h3= t("notice")
%br

= form_tag "/save-notice", :class=>"form-horizontal" do
  %fieldset
    .control-group
      %label.control-label{:for=>"text"}= "Na haste was zu melden?"
      .controls
        = text_area_tag :text, nil, :class=>"span6"
        %br.hidden-phone
        %br
        = button_tag(icon_with_text("icon-comment", t(:save)), :class => "btn")
        = link_to t(:delete_link), notice_path

- if @notes.present?
  - @notes.each do |notice|
    - class_name = cycle("", "pull-right")
    %blockquote{:class => class_name}
      %p= notice.text
      %small= l(notice.created_at) + ", " + notice.user.name
  %br
  %br
  %br
