.row
  .small-12.columns
    %h3= t('app_name') + " - " + t('help')
    %p
      Die Regeln sind einfach erklärt. Jeder der sich anmeldet, kann die Spiele und den Tuniersieger tippen.
      Wer die meisten Punkte hat gewinnt. Ein Tipp für ein Spiel kann bis zur angegebenen Spiel-Startzeit abgegeben werden.
      %blockquote
        Pro Spiel gibt es maximal #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte!
        %br
        #{Tips::UpdatePoints::POINTS_CORRECT_TREND}
        Punkte gibt es für den richtigen Tipp auf Sieg, Unentschieden oder Niederlage (Spieltendenz).
        %br
        Je
        #{Tips::UpdatePoints::EXTRA_POINT_GOALS}
        weitere Punkte gibt es bei Übereinstimmung der getippten und der tatsächlich erzielten Tore
        einer Mannschaft. Allerdings gibt es diese Punkte
        %b
          nur, wenn auch die Spieltendenz stimmt.
        %br
        Den letzten Extrapunkt gibt es bei richtiger Tordifferenz.
        %br
        %br
        Es gilt immer das offiziell festgelegte Endergebnis inkl. Verlängerung und Elfmeterschießen.

    %p
      %b
        Mögliche Punkte pro Tipp
    %ul.hilfe.no-bullet
      %li
        %p
          - 8.times do
            = icon('circle-thin', '', class: 'null-point-color')
          %br
          0 Punkte: alles falsch
      %li
        %p
          - 3.times do
            = icon('circle', '', class: 'three-point-color')
          - 5.times do
            = icon('circle-thin', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte: Spieltendenz richtig, aber nicht Tordifferenz oder eine Toranzahl der beiden Teams
      %li
        %p
          - 4.times do
            = icon('circle', '', class: 'four-point-color')
          - 4.times do
            = icon('circle-thin', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte: Spieltendenz richtig und die Tordifferenz
      %li
        %p
          - 5.times do
            = icon('circle', '', class: 'five-point-color')
          - 3.times do
            = icon('circle-thin', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte: Spieltendenz richtig und eine Toranzahl eines Teams
      %li
        %p
          - 8.times do
            = icon('circle', '', class: 'eight-point-color')
          %br
          #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte: Spieltendenz richtig und bei beiden Teams die korrekte Toranzahl, dadurch auch die Tordifferenz richtig

    %p
      Bei Punktgleichheit wird die Platzierung über die Anzahl der erreichten Tipppunkte entschieden.
      %br
      Wer mehr "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punktetipps" hat liegt bei Punktgleichheit vorn.
      Wenn auch die "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punktetipps" gleich sind entscheiden
      die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punktetipps".
      Liegt auch hier Gleichheit vor dann die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND  + Tips::UpdatePoints::EXTRA_POINT} Punktetipps" usw.

    %blockquote
      .label
        Beispiele
      %br
      Frankreich - Schweiz spielt 3:0 und Du hast 3:1 getippt.
      Dann bekommst Du insgesamt #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte auf das Spiel.
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} da du die Spieltendenz richtig hast
      und #{Tips::UpdatePoints::EXTRA_POINT_GOALS} für die richtige Anzahl der französischen Tore.
      %br
      Deutschland - Italien spielt 1:0 und du hast 2:1 getippt.
      Dann bekommst du insgesamt #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte auf das Spiel.
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} da du die Spieltendenz richtig hast
      und #{Tips::UpdatePoints::EXTRA_POINT} für die richtige Tordifferenz.

    %blockquote
      .label
        Tuniersieger-Tipp:
      %br
      Bei richtigem Tipp auf den Tuniersieger gibt es #{Users::UpdatePoints::CHAMPION_TIP_POINTS} Zusatzpunkte.
      Du kannst Dir die Zusatzpunkte nur vor dem Tunierstart sichern!

    .row
      .small-12.medium-7.columns
        %p
          %b
            Es gibt #{ROUNDS.size} Runden:
        - if @presenter.round_infos.present?
          %ul.hilfe
            - @presenter.round_infos.each do |info|
            %li = info
        %p
          Dem Gewinner winkt ein schöner Tippspiel-Wanderpokal, der nach 3 Siegen behalten werden kann.
          = hall_of_fame_link
          %br
          %br
          In diesem Sinne viel Spaß beim Tippen!
          %br
          Sören "Harry" Mothes
      .small-12.medium-5.columns
        =image_tag('pokalsieger.jpg')
    %br
    %br
    %br

    %a{name: 'imprint'}
    %h3= 'Impressum'
    %p
      %b
        Angaben gemäß § 5 TMG / Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
      %br
      Sören Mothes
      %br
      Wilthener Straße 2
      %br
      01324 Dresden
      %br
      = mail_to MAIL, MAIL, :encode => :hex

    %h3= 'Haftungsausschluss (Disclaimer)'
    %p
      %b
        Haftung für Inhalte
      %br
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
      Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
      übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen,
      die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
      nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
      Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

    %p
      %b
        Haftung für Links
      %br
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
      Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
      Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
      Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
      Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
      Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
      Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

    %p
      %b
        Urheberrecht
      %br
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
      Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der
      schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten,
      nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
      werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
      Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
      Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.

    %h3= 'Datenschutzerklärung'
    %p
      %b
        Datenschutz
      %br
      Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
      Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
      %br
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
      erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
      %br
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
      Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.

    %p
      %b
        Auskunft, Löschung, Sperrung
      %br
      Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten,
      deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung,
      Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können
      Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.

    %p
      %b
        Cookies
      %br
      Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und
      enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
      Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
      %br
      Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“.
      Sie werden nach Ende Ihres Besuchs automatisch gelöscht.
      Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen.
      Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
      %br
      Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben,
      die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies
      beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.

    %p
      %b
        Newsletterdaten
      %br
      Wenn Sie den auf der Webseite angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine E-Mail-Adresse sowie Informationen,
      welche uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind.
      Weitere Daten werden nicht erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter.
      %br
      Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen,
      etwa über den „Austragen“-Link im Newsletter.