.row
  .small-12.columns
    %h3= "#{TOURNAMENT_NAME} "+ t('app_name') + " - " + t('help')
    %p
      Die Regeln sind simpel: Jede(r) Angemeldete kann Spielergebnisse tippen und Bonusfragen beantworten.
      Für jeden richtigen Tipp und jede richtige Bonusfrage gibt es Punkte. Wer die meisten Punkte sammelt,
      gewinnt und wird stolzer Besitzer(in) des prestigeträchtigen Wanderpokals.

    %h4 Spiele tippen
    %p
      Tipps können bis zum Beginn des jeweiligen Spiels abgegben werden.
      %br
      Tipps können jederzeit geändert werden, solange das Spiel noch nicht begonnen hat.
      %br
      Tipps der anderen Mitspieler(innen) sind erst nach Spielbeginn sichtbar.
    %p
      %b
        Mögliche Punkte pro Tipp
      %br
      Pro Spiel gibt es maximal #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte!
      Es gilt immer das offiziell festgelegte Endergebnis inkl. Verlängerung und Elfmeterschießen.
    %ul.hilfe.no-bullet
      %li
        %p
          - 8.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          0 Punkte: alles falsch
      %li
        %p
          - 3.times do
            = icon('fas', 'circle', '', class: 'three-point-color')
          - 5.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte gibt es für den richtigen Tipp auf Sieg, Unentschieden oder Niederlage
          %br
            (Spieltendenz richtig, aber nicht Tordifferenz oder eine Toranzahl der beiden Teams)
      %li
        %p
          - 4.times do
            = icon('fas', 'circle', '', class: 'four-point-color')
          - 4.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte:
          %br
            (Spieltendenz richtig und die Tordifferenz)
      %li
        %p
          - 5.times do
            = icon('fas', 'circle', '', class: 'five-point-color')
          - 3.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte: Spieltendenz richtig und eine Toranzahl eines Teams
      %li
        %p
          - 8.times do
            = icon('fas', 'circle', '', class: 'eight-point-color')
          %br
          #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte: Spieltendenz richtig und bei beiden Teams die korrekte Toranzahl, dadurch auch die Tordifferenz richtig

    %blockquote
      .label
        Beispiele
      %br
      Wenn Frankreich gegen die Schweiz 3:0 spielt und du 3:1 getippt hast, erhältst du #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte:
      %br
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte für die richtige Tendenz und #{Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte für die korrekte Anzahl der französischen Tore.
      %br
      %br
      Wenn Deutschland gegen Italien 1:0 spielt und du 2:1 getippt hast,
      erhältst du insgesamt #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte:
      %br
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte für die richtige Tendenz und #{Tips::UpdatePoints::EXTRA_POINT} Punkt für die korrekte Tordifferenz.

    %h4 Bonusfragen beantworten
    %p
      = I18n.t('bonus_question_help', round_name: @presenter.round_of_16_name, extra_points: Users::UpdatePoints::BONUS_TIP_POINTS)

    %blockquote
      - @presenter.bonus_questions.each do |question|
        = question
        %br

    %p
      Bei Punktgleichheit entscheidet die Anzahl der erreichten Tipppunkte über die Platzierung.
      Wer mehr "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punktetipps" hat, liegt vorn.
      Bei gleicher Anzahl folgen die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punktetipps".
      Falls auch hier Gleichstand herrscht, entscheiden die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punktetipps" und so weiter.

    .row
      .small-12.medium-7.columns
        %p
          %b
            Die
            = TOURNAMENT_NAME
            wird in #{ROUNDS.size} Runden ausgespielt:
        - if @presenter.round_infos.present?
          %ul.hilfe
            - @presenter.round_infos.each do |info|
              %li= info
        %p
          Der/die Gewinner(in) erhält einen schönen Tippspiel-Wanderpokal, den man nach drei Siegen dauerhaft behalten darf.
          = hall_of_fame_link
      .small-12.medium-5.columns
        =image_tag('pokalsieger.jpg')

    .row
      .small-12.medium-7.columns
        %p
          %br
          Viel Spaß beim Tippen!
          %br
          Sören "Harry" Mothes
