.row
  .small-12.columns
    %h3= t('app_name') + " - " + t('help')
    %p
      Die Regeln sind einfach erklärt. Jeder der sich anmeldet, kann die Spiele und den Tuniersieger tippen.
      Wer die meisten Punkte hat gewinnt. Ein Tipp für ein Spiel kann bis zur angegebenen Spiel-Startzeit abgegeben werden.
      %blockquote
        Pro Spiel gibt es maximal #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte!
        %br
        #{Tips::UpdatePoints::POINTS_CORRECT_TREND}
        Punkte gibt es für den richtigen Tipp auf Sieg, Unentschieden oder Niederlage (Spieltendenz).
        %br
        Je
        #{Tips::UpdatePoints::EXTRA_POINT_GOALS}
        weitere Punkte gibt es bei Übereinstimmung der getippten und der tatsächlich erzielten Tore
        einer Mannschaft. Allerdings gibt es diese Punkte
        %b
          nur, wenn auch die Spieltendenz stimmt.
        %br
        Den letzten Extrapunkt gibt es bei richtiger Tordifferenz.
        %br
        %br
        Es gilt immer das offiziell festgelegte Endergebnis inkl. Verlängerung und Elfmeterschießen.

    %p
      %b
        Mögliche Punkte pro Tipp
    %ul.hilfe.no-bullet
      %li
        %p
          - 8.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          0 Punkte: alles falsch
      %li
        %p
          - 3.times do
            = icon('fas', 'circle', '', class: 'three-point-color')
          - 5.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND} Punkte: Spieltendenz richtig, aber nicht Tordifferenz oder eine Toranzahl der beiden Teams
      %li
        %p
          - 4.times do
            = icon('fas', 'circle', '', class: 'four-point-color')
          - 4.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte: Spieltendenz richtig und die Tordifferenz
      %li
        %p
          - 5.times do
            = icon('fas', 'circle', '', class: 'five-point-color')
          - 3.times do
            = icon('far', 'circle', '', class: 'null-point-color')
          %br
          #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte: Spieltendenz richtig und eine Toranzahl eines Teams
      %li
        %p
          - 8.times do
            = icon('fas', 'circle', '', class: 'eight-point-color')
          %br
          #{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punkte: Spieltendenz richtig und bei beiden Teams die korrekte Toranzahl, dadurch auch die Tordifferenz richtig

    %p
      Bei Punktgleichheit wird die Platzierung über die Anzahl der erreichten Tipppunkte entschieden.
      %br
      Wer mehr "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punktetipps" hat liegt bei Punktgleichheit vorn.
      Wenn auch die "#{Tips::UpdatePoints::MAX_POINTS_PRO_TIP} Punktetipps" gleich sind entscheiden
      die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punktetipps".
      Liegt auch hier Gleichheit vor dann die "#{Tips::UpdatePoints::POINTS_CORRECT_TREND  + Tips::UpdatePoints::EXTRA_POINT} Punktetipps" usw.

    %blockquote
      .label
        Beispiele
      %br
      Frankreich - Schweiz spielt 3:0 und Du hast 3:1 getippt.
      Dann bekommst Du insgesamt #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT_GOALS} Punkte auf das Spiel.
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} da du die Spieltendenz richtig hast
      und #{Tips::UpdatePoints::EXTRA_POINT_GOALS} für die richtige Anzahl der französischen Tore.
      %br
      Deutschland - Italien spielt 1:0 und du hast 2:1 getippt.
      Dann bekommst du insgesamt #{Tips::UpdatePoints::POINTS_CORRECT_TREND + Tips::UpdatePoints::EXTRA_POINT} Punkte auf das Spiel.
      #{Tips::UpdatePoints::POINTS_CORRECT_TREND} da du die Spieltendenz richtig hast
      und #{Tips::UpdatePoints::EXTRA_POINT} für die richtige Tordifferenz.

    %blockquote
      .label
        Tuniersieger-Tipp:
      %br
      Bei richtigem Tipp auf den Tuniersieger gibt es #{Users::UpdatePoints::CHAMPION_TIP_POINTS} Zusatzpunkte.
      Du kannst Dir die Zusatzpunkte nur vor dem Tunierstart sichern!

    .row
      .small-12.medium-7.columns
        %p
          %b
            Es gibt #{ROUNDS.size} Runden:
        - if @presenter.round_infos.present?
          %ul.hilfe
            - @presenter.round_infos.each do |info|
              %li= info
        %p
          Dem Gewinner winkt ein schöner Tippspiel-Wanderpokal, der nach 3 Siegen behalten werden kann.
          = hall_of_fame_link

    .row
      .small-12.medium-5.columns
        =image_tag('pokalsieger.jpg')

    .row
      .small-12.medium-7.columns
        %p
          %br
          %br
          In diesem Sinne viel Spaß beim Tippen!
          %br
          Sören "Harry" Mothes
