- content_for :hero_image do
  %section.hero
    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

    .row
      .medium-offset-3.medium-9.large-offset-5.large-7.columns
        .callout
          - if params[:signed_up_message].present?
            %h2= I18n.t('signed_up_message.header')
            %p
              = I18n.t('signed_up_message.content')
          -else
            %h2= "Sport frei zum #{TOURNAMENT_NAME} Tippspiel"
            %p
              Wer holt sich dieses Jahr den begehrten Tippspiel-Wanderpokal, Ruhm und grenzenloses Prahlrecht?
              = link_to('Registriere dich neu', new_registration_path(resource_name)) + ' und'
              melde dich an, tippe die Spiele und beantworte Bonusfragen,
              um diese Ehre zu erlangen!
              %br
              %br
              Schon registriert, dann einfach anmelden.

          = render :partial => 'login_form'

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium
