- content_for :hero_image do
  %section.hero
    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

    .row
      .medium-offset-3.medium-9.large-offset-5.large-7.columns
        .callout
          - if params[:signed_up_message].present?
            %h2= I18n.t('signed_up_message.header')
            %p
              = I18n.t('signed_up_message.content')
          -else
            %h2= "Hallo, Sport frei zur #{TOURNAMENT_NAME}!"
            %p
              Wer wird wohl dieses Jahr den umwerfenden Tippspiel-Wanderpokal
              mit nach Hause nehmen - verbunden mit unbeschreiblichem Ruhm und uneingeschränktem Prahlrecht?
              Um zu dieser Ehre zu gelangen, einfach
              = link_to('registrieren', new_registration_path(resource_name)) + ', '
              die Spiele tippen und Bonusfragen beantworten!

          = render :partial => 'login_form'

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium
