- content_for :hero_image do
  %section.hero
    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium

    .row
      .medium-offset-3.medium-9.large-offset-5.large-7.columns
        .callout
          - if params[:signed_up_message].present?
            %h2= I18n.t('signed_up_message.header')
            %p
              = I18n.t('signed_up_message.content')
          -else
            %h2= I18n.t('login_callout.header', tournament_name: I18n.t('tournament_name'))
            %p
              = I18n.t('login_callout.body',
                  tournament_name: I18n.t('tournament_name'),
                  register_link: link_to(I18n.t('login_callout.register_link'), new_registration_path(resource_name))).html_safe
              %br
              %br
              = I18n.t('login_callout.already_registered')

          = render :partial => 'login_form'

    -# Space placeholder
    .row.show-for-small-only
      .medium-12.columns.space-small
    .row.show-for-medium
      .medium-12.columns.space-medium
