%h3= t(:password_change)
= form_tag({:action => 'change_password'}, {:class=>"form-horizontal"}) do

  .control-group
    %label.control-label{:for=>"old_password"}= User.human_attribute_name('old_password')
    .controls
      = password_field_tag 'old_password'

  .control-group
    %label.control-label{:for=>"new_password"}= User.human_attribute_name('new_password')
    .controls
      = password_field_tag 'password'

  .control-group
    %label.control-label{:for=>"password_confirmation"}= User.human_attribute_name('password_confirmation')
    .controls
      = password_field_tag 'password_confirmation'

  .form-actions
    = submit_tag t(:password_change), :class => 'button'
