%h3= t(:password_change)
= form_tag({:action => 'change_password'}, {:class=>"form-horizontal"}) do

  .row
    .small-12.large-7.columns
      %label
        = User.human_attribute_name('old_password')
        = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
          = password_field_tag 'old_password'

  .row
    .small-12.large-7.columns
      %label
        = User.human_attribute_name('new_password')
        = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
          = password_field_tag 'password'

  .row
    .small-12.large-7.columns
      %label
        = User.human_attribute_name('password_confirmation')
        = render layout: 'widgets/input_with_prefix_icon', locals: {icon_class: 'lock'} do
          = password_field_tag 'password_confirmation'

  .row
    .small-12.large-7.columns
      = submit_tag t(:password_change), :class => 'button'
