.row
  .small-12.columns
    %h3= t(:password_change)
    = form_tag({action: :change_password}, {class: 'form-horizontal'}) do

      .row
        .small-12.large-7.columns
          %label
            = User.human_attribute_name('old_password')
            .input-group
              .input-group-label
                = icon('lock', nil, {class: 'fa-fw'})
              = password_field_tag 'old_password', nil, class: 'input-group-field'

      .row
        .small-12.large-7.columns
          %label
            = User.human_attribute_name('new_password')
            .input-group
              .input-group-label
                = icon('lock', nil, {class: 'fa-fw'})
              = password_field_tag 'password', nil, class: 'input-group-field'

      .row
        .small-12.large-7.columns
          %label
            = User.human_attribute_name('password_confirmation')
            .input-group
              .input-group-label
                = icon('lock', nil, {class: 'fa-fw'})
              = password_field_tag 'password_confirmation', nil, class: 'input-group-field'

      .row
        .small-12.large-7.columns
          = submit_tag t(:password_change), :class => 'button'
