- if @games.present?
  %table.hover
    %thead.hide-for-small-only
      %tr.white-bg
        %th= Game.human_attribute_name('start_at')
        %th= Game.human_attribute_name('round')
        %th= Game.human_attribute_name('place')
        %th= Game.human_attribute_name('team1')
        %th= Game.human_attribute_name('team2')
        %th= Game.human_attribute_name('result')
    %tbody
      - @games.each do |game|
        - start_date = l(game.start_at, :format => :default)
        - round_or_group_name = game.round == GROUP ? "#{t('round.group')} #{game.group}" : t(game.round, :scope => 'round')
        - place = game.place
        - result = "#{game.team1_goals} : #{game.team2_goals}"

        %tr
          %td.show-for-small-only
            .row
              .small-12.columns.small-text
                = "#{start_date} | #{round_or_group_name} | #{place}"
            .row
              .small-10.columns
                - write_team_with_flag(game.team1_view_name, game.team1_country_code)
                = ' : '
                - write_team_with_flag(game.team2_view_name, game.team2_country_code)
              .small-2.columns
                = result

          %td.hide-for-small-only= start_date
          %td.hide-for-small-only= round_or_group_name
          %td.hide-for-small-only= place
          %td.hide-for-small-only
            - write_team_with_flag(game.team1_view_name, game.team1_country_code)
          %td.hide-for-small-only
            - write_team_with_flag(game.team2_view_name, game.team2_country_code)
          %td.hide-for-small-only= result
