- if @games.present?
  %table.hover
    %tbody
      - @games.each do |game|
        - game_presenter = GamePresenter.new(game)

        %tr
          %td.show-for-small-only
            .row.small-infos
              .small-4.columns.text-left
                = game_presenter.formatted_start_at_short
              .small-4.columns.text-center
                = game_presenter.round_or_group_name
              .small-4.columns.text-right
                = game_presenter.place
            .row
              .small-5.columns.text-right.no-padding-right
                = game_presenter.team1_with_flags(flag_size: 16, flag_position: 'right')
              .small-2.columns.game-result.text-center.white-space-nowrap
                = game_presenter.result
              .small-5.columns.text-left.no-padding-left
                = game_presenter.team2_with_flags(flag_size: 16, flag_position: 'left')


          %td.hide-for-small-only= game_presenter.formatted_start_at_short
          %td.hide-for-small-only= game_presenter.round_or_group_name
          %td.hide-for-small-only= game_presenter.place
          %td.hide-for-small-only.text-right
            = game_presenter.team1_with_flags(flag_size: 32, flag_position: 'right')
          %td.hide-for-small-only.text-center
            = game_presenter.result
          %td.hide-for-small-only.text-left
            = game_presenter.team2_with_flags(flag_size: 32, flag_position: 'left')
