- if @games.present?
  %table.hover
    %tbody
      - @games.each do |game|
        - start_date = l(game.start_at, :format => :default)
        - round_or_group_name = game.round == GROUP ? "#{t('round.group')} #{game.group}" : t(game.round, :scope => 'round')
        - place = game.place
        - result = "#{game.team1_goals} : #{game.team2_goals}"

        %tr
          %td.show-for-small-only
            .row.small-game-infos
              .small-4.columns.text-left
                = start_date
              .small-4.columns.text-center
                = round_or_group_name
              .small-4.columns.text-right
                = place
            .row
              .small-12.columns.text-center
                = team_with_flag(team_name: game.team1_view_name,
                                 country_code: game.team1_country_code,
                                 flag_position: 'right')
                = result
                = team_with_flag(team_name: game.team2_view_name,
                                 country_code: game.team2_country_code)


          %td.hide-for-small-only= start_date
          %td.hide-for-small-only= round_or_group_name
          %td.hide-for-small-only= place
          %td.hide-for-small-only.text-right
            = team_with_flag(team_name: game.team1_view_name,
                                 country_code: game.team1_country_code,
                                 flag_position: 'right')
          %td.hide-for-small-only.text-center
            = result
          %td.hide-for-small-only.text-left
            = team_with_flag(team_name: game.team2_view_name,
                                 country_code: game.team2_country_code)
