- if tips.present?
  %p
  =  I18n.t('random_tips_description')
  = link_to(t('random_tips'), '#', {id: 'js_fill_random_tips', remote: true})

  = form_tag '/save-tips', id: 'js_save_tips' do
    %table.tips.hover
      %thead.hide-for-small-only
        %tr.white-bg
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= Tip.model_name.human
          %th= Tip.human_attribute_name('tip_points')
      %tbody
        - tips.each do |tip|
          - edit_allowed = tip.edit_allowed?
          - game = tip.game
          - start_date = l(game.start_at, :format => :default)
          - round_or_group_name = game.round == GROUP ? "#{t('round.group')} #{game.group}" : t(game.round, :scope => 'round')
          - place = game.place
          - result = "#{game.team1_goals} : #{game.team2_goals}"

          %tr
            %td.show-for-small-only
              .row.small-game-infos
                .small-12.columns.text-center
                  = "#{start_date} - #{round_or_group_name} - #{place}"
              .row
                .small-5.columns.text-right
                  = team_with_flag(team_name: game.team1_view_name,
                                  country_code: game.team1_country_code,
                                  flag_position: 'right')
                .small-2.columns.text-center
                  = result
                .small-5.columns.text-left
                  = team_with_flag(team_name: game.team2_view_name,
                                  country_code: game.team2_country_code)
              .row
                .small-5.columns.text-right
                  = "#{Tip.model_name.human}:"

                - if edit_allowed
                  .small-3.columns.text-center.tip_input_td
                    = tip_input(tip.id, 'team1_goals', tip.team1_goals)
                    = ':'
                    = tip_input(tip.id, 'team2_goals', tip.team2_goals)
                - else
                  .small-2.columns.text-center
                    = "#{tip.team1_goals} : #{tip.team2_goals}"
                .small-4.columns.text-right
                  - tip_points = tip.tip_points
                  - css_classes = "#{POINTS_TO_CSS_CLASS[tip_points.to_s]} large-point-badge"
                  = raw pointbadge_with_content(tip_points, css_classes, "#{tip_points} #{User.human_attribute_name('points')}")


            %td.hide-for-small-only= start_date
            %td.hide-for-small-only= round_or_group_name
            %td.hide-for-small-only= place
            %td.hide-for-small-only.text-right
              = team_with_flag(team_name: game.team1_view_name,
                                   country_code: game.team1_country_code,
                                   flag_position: 'right')
            %td.hide-for-small-only.text-center
              = result
            %td.hide-for-small-only.text-left
              = team_with_flag(team_name: game.team2_view_name,
                                 country_code: game.team2_country_code)
            - if edit_allowed
              %td.tip_input_td.hide-for-small-only
                = tip_input(tip.id, 'team1_goals', tip.team1_goals)
                = ':'
                = tip_input(tip.id, 'team2_goals', tip.team2_goals)
            - else
              %td.hide-for-small-only= "#{tip.team1_goals} : #{tip.team2_goals}"
            - tip_points = tip.tip_points
            - css_classes = "#{POINTS_TO_CSS_CLASS[tip_points.to_s]} large-point-badge"
            %td.hide-for-small-only= raw pointbadge_with_content(tip_points, css_classes, "#{tip_points} #{User.human_attribute_name('points')}")

    .row
      .small-12.columns
        %span.float-right
          = submit_tag t('save_tip'), :class => 'button'
      = render partial: 'overlay_submit_button_link'

- else
  %p= 'No Tips'