- if tips_round_hash.present?

  = render :partial => 'random_tip_link'
  %br
  = form_tag '/save-tips', :id => 'js_save_tips' do
    = render :partial => 'only_today_games_link'

    -# # TODO soeren 19.05.14 #72 besser machen
    = hidden_field_tag(:for_phone, @for_phone)

    -# eigenes table strip mittels css
    %table.tips
      - tips_round_hash.each do |index, round_with_tips|
        - round_with_tips.each_pair do |round_name, tips|
          %thead
            %tr.without_border_top.white-bg
              %th.round_name{:colspan => 3}= t(round_name, :scope => 'round')
          %tbody
            - tips.each do |tip|
              - game                 = tip.game
              - edit_allowed         = tip.edit_allowed?
              - row_class            = cycle('my-even', 'my-odd')
              - today_game_css_class = get_today_game_css_class(today_game_ids, game.id)

              -# for phone
              %tr{:class => "#{row_class} #{today_game_css_class}"}
                %td
                  = l(game.start_at, :format => :default)
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team1_view_name, game.team1_country_code, "#{game.team1_goals}<br/>".html_safe )
                %td{:style => 'width:30%;'}
                  - write_team_with_flag(game.team2_view_name, game.team2_country_code, "#{game.team2_goals}<br/>".html_safe)
              %tr{:class => "#{row_class} without_border_top #{today_game_css_class}"}
                %td
                  - if edit_allowed
                    %span.muted= tip.model_name.human
                  - else
                    %span.muted= "#{Tip.model_name.human} (#{Tip.human_attribute_name('tip_points')})"
                %td
                  - if edit_allowed
                    - write_tip_input(tip.id, 'team1_goals', tip.team1_goals)
                  - else
                    = "#{tip.team1_goals}" #{tip.team2_goals} (#{tip.tip_points})"
                %td
                  - if edit_allowed
                    - write_tip_input(tip.id, 'team2_goals', tip.team2_goals)
                  - else
                    =  "#{tip.team2_goals} (#{tip.tip_points})"

    .row
      %div
        %span.pull-right
          = submit_tag t('save_tip'), :class => 'button'
      = render :partial => 'overlay_submit_button_link'

- else
  %p= 'No Tips'