- if tips.present?
  %p
    =  I18n.t('random_tips_description1')
    = link_to(t('random_tips'), '#', {id: 'js_fill_random_tips', remote: true})
    = raw I18n.t('random_tips_description2')

  = form_tag '/save-tips', id: 'js_save_tips' do
    %table.tips.hover
      %thead.hide-for-small-only
        %tr.white-bg
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= ''
          %th= Tip.model_name.human
          %th= Tip.human_attribute_name('tip_points')
      %tbody
        - tips.each do |tip|
          - tip_presenter = TipPresenter.new(tip)
          - game_presenter = GamePresenter.new(tip.game)

          - edit_allowed = tip_presenter.edit_allowed?
          - place = game_presenter.place
          - tip_points = tip_presenter.tip_points
          - pointbadge = tip_presenter.pointbadge_large(tip_points)
          - if edit_allowed
            - tip1_input = tip_input(tip.id, 'team1_goals', tip.team1_goals)
            - tip2_input = tip_input(tip.id, 'team2_goals', tip.team2_goals)
          - else
            - tip1_input = tip.team1_goals
            - tip2_input = tip.team2_goals
          %tr
            %td.show-for-small-only
              .row.small-infos
                .small-4.columns.text-left
                  = game_presenter.formatted_start_at_short
                .small-4.columns.text-center
                  = game_presenter.round_or_group_name
                .small-4.columns.text-right
                  = place
              .row
                .small-5.columns.text-right.no-padding-right
                  = game_presenter.team1_with_flags(flag_size: 16, flag_position: 'right')
                .small-2.columns.game-result.text-center.white-space-nowrap
                  = game_presenter.result
                .small-5.columns.text-left.no-padding-left
                  = game_presenter.team2_with_flags(flag_size: 16, flag_position: 'left')
              .row
                .small-5.columns.text-right.no-padding-right
                  = "#{Tip.model_name.human}:"
                .small-2.columns.text-center.white-space-nowrap.no-padding-right.no-padding-left
                  = raw "#{tip1_input} : #{tip2_input}"
                .small-5.columns.text-right
                  - unless edit_allowed
                    = raw pointbadge


            %td.hide-for-small-only= game_presenter.formatted_start_at_short
            %td.hide-for-small-only= game_presenter.round_or_group_name
            %td.hide-for-small-only= place
            %td.hide-for-small-only.text-right
              = game_presenter.team1_with_flags(flag_size: 32, flag_position: 'right')
            %td.hide-for-small-only.text-center.white-space-nowrap
              = game_presenter.result
            %td.hide-for-small-only.text-left
              = game_presenter.team2_with_flags(flag_size: 32, flag_position: 'left')
            %td.white-space-nowrap.hide-for-small-only
              = raw "#{tip1_input} : #{tip2_input}"

            %td.hide-for-small-only
              - unless edit_allowed
                = raw pointbadge

    .row
      .small-12.columns
        %span.float-right
          = submit_tag t('save_tip'), :class => 'button'
      = render partial: 'overlay_submit_button_link'

- else
  %p= 'No Tips'