- img = image_tag('soccer_ball.png', :class=>'soccer_ball', size: '16x16')

-# "wider" top-bar menu for 'medium' and up
%nav.column.row
  #widemenu.top-bar
    .top-bar-left
      %ul.dropdown.menu{data: {'dropdown-menu': ''}}
        %li.menu-text
          %a.brand{href: presenter.nav_bar_brand_url}
            = img
            = get_title
        - presenter.nav_bar_item_presenters.each do |nav_bar_item_presenter|
          %li{class: nav_bar_item_presenter.css_class}
            - icon_and_text = "#{icon(nav_bar_item_presenter.link_icon)}"
            - icon_and_text << "<span>#{nav_bar_item_presenter.link_text}</span>" if nav_bar_item_presenter.link_text.present?
            = link_to(icon_and_text.html_safe, nav_bar_item_presenter.link_url)