- img = image_tag('soccer_ball.png', :class=>'soccer_ball', size: '16x16')

-# "wider" top-bar menu for 'medium' and up
%nav.column.row
  #widemenu.top-bar
    .top-bar-left
      %ul.dropdown.menu{data: {'dropdown-menu': ''}}
        %li.menu-text
          %a.brand{href: presenter.nav_bar_brand_url}
            = img
            = get_title
        - presenter.nav_bar_item_presenters.each do |nav_bar_item_presenter|
          = render partial: 'layouts/application_nav_bar_item', locals: {presenter: nav_bar_item_presenter}
        = render partial: 'layouts/application_nav_bar_item',
                 locals: {presenter: presenter.nav_bar_item_user_presenter, for_off_canvas: false}


-# off-canvas title bar for 'small' screen
.title-bar{data: {'responsive-toggle': 'widemenu', 'hide-for': 'medium'}}
  .title-bar-left
    %span.title-bar-title
      %a.brand{href: presenter.nav_bar_brand_url}
        = img
        = get_title
  .title-bar-right
    = button_tag('sm', class: 'menu-icon dark', data: {open: 'offCanvasRight'} )

-# off-canvas right menu
.off-canvas.position-right#offCanvasRight{data: {'off-canvas': '', position: 'right'}}
  %ul.vertical.dropdown.menu{data: {'dropdown-menu': ''}}
    - presenter.nav_bar_item_presenters.each do |nav_bar_item_presenter|
      = render partial: 'layouts/application_nav_bar_item', locals: {presenter: nav_bar_item_presenter}
    = render partial: 'layouts/application_nav_bar_item',
                   locals: {presenter: presenter.nav_bar_item_user_presenter, for_off_canvas: true}
