%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
%meta{:charset => 'utf-8'}
= csrf_meta_tag

%title= get_title
%meta{:name => 'author', :content => 'Soeren Mothes'}
%meta{:name=>"title", :content=>get_title}
- description = 'Fu&#223;ball-Tippspiel auf soemo.org. Dem Sieger winkt ein Wanderpokal verbunden mit unbeschreiblichem Ruhm und uneingeschr&#228;nktem Prahlrecht.'
%meta{:name => 'description', :content => description}
%meta{:name => 'keywords', :content => 'fussball tippspiel soemo, soeren mothes'}
= render partial: 'layouts/favicons'

= stylesheet_link_tag 'application', :media=>:all
= javascript_include_tag 'application'