!!! 5

%head
  %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
  %meta{:charset => 'utf-8'}
  %title= get_title
  = csrf_meta_tag
  - description = 'Fu&#223;ball-Tippspiel auf soemo.org. Dem Sieger winkt ein Wanderpokal, verbunden mit unbeschreiblichem Ruhm und uneingeschr&#228;nktem Prahlrecht.'
  %meta{:name => 'description', :content => description}
  %meta{:name => 'keywords', :content => "fussball tippspiel soemo, soeren mothes"}
  %meta{:name => 'author', :content => 'Soeren Mothes'}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  -# opengraph metatags
  - url = "http://tippspiel.soemo.org"
  %meta{:property=>"og:url", :content=>url}
  %meta{:property=>"og:type", :content=>"website"}
  %meta{:property=>"og:site_name", :content=>"#{t('app_name')}"}
  %meta{:property=>"og:title", :content=>get_title}
  %meta{:property=>"og:description", :content=>description}
  - img_url = url + image_path("pokal.jpg")
  %link{:rel=>"image_src", :href=>img_url}
  %meta{:property=>"og:image", :content=>img_url}

  :erb
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  = stylesheet_link_tag "application", :media=>:all

%body
  %noscript
    %p.alert= t(:error_javascript)

  %div.navbar.navbar-fixed-top
    %div.navbar-inner
      -#container-fluid CS-Class wenn es die gesamte Bildschirmbreite einnehmen soll
      %div.container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href=> "/"}= image_tag("soccer_Ball.png", :class=>"soccer_ball") + get_title
        %div.nav-collapse.collapse
          - write_main_nav
          %p.navbar-text.pull-right
            - write_auth_nav
        :erb
          <!--/.nav-collapse -->
  -#container-fluid CS-Class wenn es die gesamte Bildschirmbreite einnehmen soll
  %div.container
    %div.row
      %div.span9
        %p.error
          - if flash[:error].present?
            .alert.alert-error
              %a.close{"data-dismiss"=>"alert"}= "×"
              = flash[:error]
        %p.error
          - if flash[:alert].present?
            .alert.alert-error
              %a.close{"data-dismiss"=>"alert"}= "×"
              = flash[:alert]
        %p.notice
          - if flash[:notice].present?
            .alert.alert-success
              %a.close{"data-dismiss"=>"alert"}= "×"
              = flash[:notice]
        - flash.discard
        = yield

      %div.span3
        %div.well.sidebar-nav
          = yield(:sidebar)
          - default_sidebar_content

    %hr

    %footer
      = "© " + Time.now.strftime("%Y")
      = link_to("Sören Mothes", "http://www.soemo.org/")
      = " | "
      = link_to(t(:imprint), help_path + "#imprint")
      = " |  version #{$TIPPSPIEL_VERSION} - #{$TIPPSPIEL_BUILD_DATE}"

  -# Javascript at the bottom for fast page loading
  = javascript_include_tag 'application'
