!!! 5

%head
  %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
  %meta{:charset => 'utf-8'}
  = csrf_meta_tag

  %title= get_title
  %meta{:name => 'author', :content => 'Soeren Mothes'}
  - url = "#{request.protocol}#{request.host_with_port}"
  %meta{:property=>"og:url", :content=>url}
  %meta{:property=>"og:type", :content=>"website"}
  %meta{:property=>"og:site_name", :content=>"#{t('app_name')}"}
  %meta{:name=>"title", :content=>get_title}
  %meta{:property=>"og:title", :content=>get_title}
  - description = 'Fu&#223;ball-Tippspiel auf soemo.org. Dem Sieger winkt ein Wanderpokal verbunden mit unbeschreiblichem Ruhm und uneingeschr&#228;nktem Prahlrecht.'
  %meta{:name => 'description', :content => description}
  %meta{:property=>"og:description", :content=>description}
  %meta{:name => 'keywords', :content => "fussball tippspiel soemo, soeren mothes"}
  - img_url = url + image_path("pokal.jpg")
  %link{:rel=>"image_src", :href=>img_url}
  %meta{:property=>"og:image", :content=>img_url}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}


  = stylesheet_link_tag "application", :media=>:all
  = javascript_include_tag "vendor/modernizr"
  -# other js is at the bottom of the body tag for fast page loading

%body
  .off-canvas-wrap{data: {offcanvas: ''}}
    .inner-wrap
      - write_navbar

      %noscript
        %p.alert= t(:error_javascript)

      #hero-div
        = yield(:hero_image)

      .row
        .large-9.columns{role: "content"}
          - write_flash_messages
          = yield

        %aside.large-3.columns
          = yield(:sidebar)
          - default_sidebar_content

        %hr

        %footer
          .row
            .small-11.small-centered.large-uncentered.columns
              - write_footer_content

      %a.exit-off-canvas

  -# Javascript at the bottom for fast page loading
  = javascript_include_tag 'application'
