<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html dir="ltr" lang="en-US" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title><%= t(:app_name) %></title>
  <%- #TODO soeren 29.03.11  -%>
  <meta name="description" content="Webseitencheck">
  <meta name="author" content="ObjectFab GmbH">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "base", "formtastic", "formtastic-changes", "tippspiel-style", "tippspiel-print", :cache => "tippspiel" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= csrf_meta_tag %>
  <%- # All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -%>
  <%= javascript_include_tag 'modernizr-1.7.min.js' %>
</head>
<body>
  <noscript>
    <p class="alert"><%= t(:error_javascript)%></p>
  </noscript>
  <header role="banner">
    <h1 id="logo"><a href="<%= root_url%>" title="Tippspiel" rel="home">Fußball-EM 2012</a></h1>
    <span id="header-slogan">Tippspiel auf SoeMo.org</span>
    <div id="global-nav">
        <ul>
          <li><%= link_to "Login", "#" %></li>
          <li><%= link_to "Impressum", "#" %></li>
        </ul>
    </div>
    <nav id="access" role="navigation">
      <a href="#content" class="skip" title="Skip to content">Skip to content</a>
      <div class="menu">
        <ul>
          <li class="current_page_item"><%= link_to "Home", "#" %></li>
          <li><%= link_to "Aktuell", "#" %></li>
          <li><%= link_to "FAQ", "#" %></li>
          <li><%= link_to "Preise", "#" %></li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="wrapper">
    <section id="content" role="main">

      <div id="user_nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
      <p class="error">
        <% if flash[:error].present? %>
          <span class="flasherror"><%= flash[:error]%></span>
        <% end %>
      </p>
      <p class="notice">
        <% if flash[:notice].present? %>
          <span class="flashnotice"><%= flash[:notice]%></span>
        <% end %>
      </p>
      <% flash.discard %>

      <%= yield %>

    </section>
    <section id="sidebar">
      <div><p>"Falls Sidebar erwünscht! Wäre hier der Einstieg</p></div>
    </section>
  </div>
  <%- # ende Wrapper -%>

  <footer role="contentinfo">
    © <%= h Time.now.strftime("%Y") %>, <a href="http://www.soemo.org/">Sören Mothes</a>
  </footer>

<%- # Javascript at the bottom for fast page loading -%>
<%= javascript_include_tag 'plugins', :defaults, :cache => "tippspiel" %>
<%- # Fix any <img> or .png_bg background-images -%>
<!--[if lt IE 7 ]>
<%= javascript_include_tag 'dd_belatedpng.js' %>
<%= javascript_tag %{DD_belatedPNG.fix('img, .png_bg')} %>
<![endif]-->



</body>
</html>
