!!! 5
%html
  %head
    = render partial: 'layouts/header'

  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{data: {'off-canvas-wrapper': ''}}
        = render partial: 'layouts/application_nav_bar', locals: {presenter: nav_bar_presenter}

        .off-canvas-content#main-content{data: {'off-canvas-content': ''}}
          #hero-div
            = yield(:hero_image)

          - write_flash_messages
          = yield

          .row
            .small-12.columns
              = render partial: 'widgets/show_rss_feed', locals: {presenter: rss_feed_presenter}

          .row
            .small-12.columns#bottom-bg-image

          %footer
            .row
              .small-11.small-centered.large-uncentered.columns
                - write_footer_content

        -# Scroll to top
        %a.scroll-to-top{href: '#'}= 'Scroll'